<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKOWY - Estilo Espacial Retro</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <header>
        <div class="container">
            <a routeLink="/" class="logo">SKOWY</a>
            <nav>
                <ul>
                    <li><a routeLink="/temporalLine">Temporal Line</a></li>
                    <li><a routeLink="/skyuPresents">Regalos SKYU</a></li>
                    <li><a routeLink="/snowPresents">Regalos SNOW</a></li>
                    <li><a routeLink="/snowPresents">Story Times</a></li>
                    <li class="menu-container">
                        <a routeLink="/dashboard">Galleria</a>
                        <div class="menu">
                            <a routeLink="/Cosplays">Cosplays</a>
                            <a routeLink="/Halloweens">Halloweens</a>
                            <a routeLink="/Navidades">Navidades</a>
                        </div>
                    </li>
                    <li><a routeLink="/cart-page">cart<span>3</span></a></li>
                </ul>
            </nav>
        </div>
        <button class="b1">fan</button>
        <button class="b2">hater</button>
    </header>
</body>
</html>